cleanenv/*
deap-dataset/*
eeg_features_ok_3.pt

whit_di_de_plv_model_epoch_1.pt
whit_di_de_plv_model_epoch_2.pt
whit_di_de_plv_model_epoch_3.pt
whit_di_de_plv_model_epoch_4.pt
whit_di_de_plv_model_epoch_5.pt
whit_di_de_plv_model_epoch_6.pt
whit_di_de_plv_model_epoch_7.pt
whit_di_de_plv_model_epoch_8.pt
whit_di_de_plv_model_epoch_9.pt
whit_di_de_plv_model_epoch_10.pt
whit_di_de_plv_model_epoch_11.pt
whit_di_de_plv_model_epoch_12.pt
whit_di_de_plv_model_epoch_13.pt
whit_di_de_plv_model_epoch_14.pt
whit_di_de_plv_model_epoch_15.pt
whit_di_de_plv_model_epoch_16.pt
whit_di_de_plv_model_epoch_17.pt
whit_di_de_plv_model_epoch_18.pt
whit_di_de_plv_model_epoch_19.pt


_whit_di_de_plv_model_epoch_1.pt
_whit_di_de_plv_model_epoch_2.pt
_whit_di_de_plv_model_epoch_3.pt
_whit_di_de_plv_model_epoch_4.pt
_whit_di_de_plv_model_epoch_5.pt
_whit_di_de_plv_model_epoch_6.pt